.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

data/
archive/
output/
scripts/_temp_download_ec_climdata.sh
scripts/_temp_download_ec_climdata.bat
options/credentials.json
options/filepaths.json

*.txt